# Project/language specific
/target
**/*.rs.bk
*.csv
/benchmark_artifacts
/dev_notes
c[0-9]*-*.txt
/old_output
*.zip
/temp
*.txt

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# macOS / Windows
.DS_Store
Thumbs.db